/*
*    Title: software development journal theme styles
*    Author: Dmytro Tkach
*    Date: April 2024
*/

/* *******
    Main
* ********/
.main {
    padding-top: 70px;
    width: calc(100% - 280px);
    margin-left: 280px;
    overflow: hidden;
}

/* ************
    Sidebar
* ************/

.sidebar {
    position: fixed;
    top: 0;
    padding-top: 70px;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--white-color);
    border-right: 1px solid #e8e8e8;
    /* transform: translateX(-100%); */
    z-index: 8;
    transition: all .3s;
}

.sidebar-content {
    padding: 30px 20px 20px 20px;
}

.sidebar-title {
    letter-spacing: .09em;
    text-transform: uppercase;
    margin-bottom: 18px;
    padding: 0 8px;
    font-size: 12px;
    font-weight: 500;
}

.sidebar-link {
    grid-column-gap: 6px;
    color: var(--grey-color);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    transition: box-shadow .3s, border-color .3s, background-color .3s, color .3s;
    display: flex;
}

.sidebar-link:hover,
.sidebar-link.active {
    color: #828aa3;
    background-color: #f7f8fc;
    border-color: #eff1f6;
}

.sidebar-link .icon {
    font-size: 20px;
    transition: color .3s;
}

.sidebar-link:hover .icon[name="home-outline"],
.sidebar-link.active .icon[name="home-outline"] {
    color: var(--primary-color);
}

.sidebar-link:hover .icon[name="logo-nodejs"],
.sidebar-link:active .icon[name="logo-nodejs"] {
    color: #87be01;
}

.sidebar-link:hover .icon[name="logo-html5"],
.sidebar-link:active .icon[name="logo-html5"] {
    color: #eb7330;
}

.sidebar-link:hover .icon[name="logo-react"],
.sidebar-link:active .icon[name="logo-react"] {
    color: #01d6f7;
}

.sidebar-link:hover .icon[name="server-outline"],
.sidebar-link:active .icon[name="server-outline"] {
    color: #006ec0;
}

/* ***************
    Header item
* ***************/
.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9;
    background-color: var(--white-color);
    width: 100%;
    padding: 10px 20px;
    box-shadow: 1px 0 3px rgba(20, 20, 43, .09);
}


/* **************
    Avatar item
* ***************/
.avatar-circle-item {
    width: 40px;
    height: 40px;
    color: var(--white-color);
    background-image: linear-gradient(var(--primary-color), var(--primary-dark-color));
    border: 1px solid var(--primary-dark-color);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(74, 58, 255, .26);
}

.user-name {
    font-weight: 600;
    font-size: 18px;
}

/*
    Heading item
*/
.heading {
    font-weight: 600;
    margin-bottom: 15px;
}

.heading-sm {
    font-size: 16px;
}

.heading-md{
    font-size: 24px;
}

.heading-lg {
    font-size: 32px;
}

/*
    Card item
*/
.card-item {
    padding: 15px;
    background-color: var(--white-color);
    border: 1px solid var(--light-color);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(20, 20, 43, .09);
    overflow: hidden;
}

/*
    Input item
*/
.input-item {
    min-height: 40px;
    color: var(--dark-color);
    background-color: var(--white-color);
    border: 1px solid var(--light-color);
    border-radius: 6px;
    margin-bottom: 0;
    padding: 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.286em;
    transition: color .3s, border-color .3s;
    box-shadow: 0 0 4px rgba(20, 20, 43, .09);
}

.input-item-holder .icon{
    position: absolute;
}

.input-item-holder {
    position: relative;
    display: flex;
    align-items: center;
}

.input-item-holder.icon-inside-right input {
    padding-right: 32px;
}

.input-item-holder.icon-inside-right .icon {
    right: 15px;
}

.input-item-holder.icon-inside-left input {
    padding-left: 32px;
}

.input-item-holder.icon-inside-left .icon {
    left: 15px;
}

/* **************
    Input item
* ***************/
.tech-card {
    margin-bottom: 30px;
} 

.tech-card .icon[name="logo-nodejs"] {
    color: #87be01;
}

.tech-card .icon[name="logo-javascript"] {
    color: #f6ab47;
}

.tech-card .icon[name="logo-html5"] {
    color: #eb7330;
}

.tech-card .icon[name="logo-css3"] {
    color: #254add;
}

.tech-card .icon[name="logo-react"] {
    color: #00d1f7;
}

.tech-card .icon[name="logo-javascript"] {
    color: #efd81d;
}

.tech-card .icon {
    font-size: 40px;
}

.tech-card p {
    color: var(--grey-color);
}

.tech-card .icon {
    font-size: 80px;
}

.tech-card-bg {
    position: absolute;
    top: -25px;
    right: -65px;
    color: #f7f8fc;
    font-size: 170px;
}

/* ************************
    Link with arrow item
* ************************/
.link-arrow-item {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.link-arrow-item .icon {
    color: var(--primary-color);
}

