:root {
    --white-color: #ffffff;
    --light-color: #eff1f6;
    --dark-color: #1f2d54;
    --grey-color: #828aa3;
    --primary-color: #3d7fff;
    --primary-dark-color: #4b5dff;
    --secondary-color: #ffffff;

    --background-light: #f7f8fc;
}